<div class="page-wrap padding-all">
    <h2 class="padding-all">Add New Form</h2>
    <snap-form-errors [forms]="[f]" *ngIf="f.submitted"></snap-form-errors>
    <div class="row">
        <form novalidate #f="ngForm">
        <div class="col-xs-16 col-sm-10 col-md-7 col-lg-6 stacked-form padding-all">
            <ul class="width-100-percent margin-bottom-2x">
                <li class="col-xs-16 col-sm-8 padding-right-half">
                    <label for="formName">Form Name <abbr title="Required">*</abbr></label>
                    <snap-input-wrapper [control]="f.controls['formName']" [showError]="f.submitted">
                        <input type="text" id="formName" name="formName" title="Form Name" [(ngModel)]="newForm.formName" required data-test="AddForm_FormName"/>
                    </snap-input-wrapper>
                </li>
                <li class="height-auto padding-bottom">
                    <label for="formDescription">Form Description</label>
                    <textarea rows="5" id="formDescription" name="formDescription" title="Form Description" [(ngModel)]="newForm.description" data-test="AddForm_FormDescription"></textarea>
                </li>
                <li class="col-xs-16 col-sm-8 padding-right-half">
                        <label>Form Type</label>
                        <select data-test="AddForm_FormType" [(ngModel)]="newForm.formType" (ngModelChange)="addFirstStep()" name="formType">
                            <option value="accordion">Accordion</option>
                            <option disabled value="collapsible">Collapsible Panels</option>
                            <option selected value="standard">Standard</option>
                            <option value="wizard">Wizard</option>
                        </select>
                    </li>
                <li class="col-xs-16 col-sm-8 padding-left-half">
                    <fieldset>
                        <legend>Column Layout</legend>
                        <ul class="alternate-radios" data-test="AddForm_Layout_LayoutList">
                            <li>
                                <input type="radio" name="formLayout" value="oneColumn" id="formLayoutSingle" [(ngModel)]="newForm.formLayout" data-test="AddForm_Layout_SingleColumn"/>
                                <label for="formLayoutSingle" title="Single Column">
                                    <span class="fa fa-bars margin-none padding-none"></span>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="formLayout" id="formLayoutDouble" value="twoColumn" [(ngModel)]="newForm.formLayout" data-test="AddForm_Layout_DoubleColumn"/>
                                <label for="formLayoutDouble" title="2-Column">
                                    <span class="fa fa-bars margin-none padding-none"></span>
                                    <span class="fa fa-bars margin-none padding-none"></span>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="formLayout" id="formLayoutTriple" value="threeColumn" [(ngModel)]="newForm.formLayout" data-test="AddForm_Layout_TripleColumn"/>
                                <label for="formLayoutTriple" title="3-Column">
                                    <span class="fa fa-bars margin-none padding-none"></span>
                                    <span class="fa fa-bars margin-none padding-none"></span>
                                    <span class="fa fa-bars margin-none padding-none"></span>
                                </label>
                            </li>
                        </ul>
                    </fieldset>
                </li>

                <li class="col-xs-16 col-sm-8 padding-right-half">
                    <label for="formTitle">Form Title</label>
                    <input type="text" id="formTitle" name="formTitle" title="Form Title" [(ngModel)]="newForm.formTitle" data-test="AddForm_FormTitle"/>
                </li>
                <li class="col-xs-16 col-sm-8 padding-left-half">
                    <label for="submitURL">Submit URL</label>
                    <input type="text" id="submitURL" name="submitURL" title="Submit URL" [(ngModel)]="newForm.submitURL" data-test="AddForm_SubmitURL"/>
                </li>
                <li class="height-auto padding-bottom" [hidden]="newForm.formType !== 'wizard' && newForm.formType !== 'accordion'">
                        <h4 class="margin-top margin-bottom">Steps</h4>
                        <table class="base-table min-cell-padding">
                            <tbody>
                            <tr>
                                <td class="width-5-percent">
                                </td>
                                <td class="width-45-percent">
                                    <label>Name <abbr title="Required">*</abbr></label>
                                </td>
                                <td>
                                    <label>Value <abbr title="Required">*</abbr></label>
                                </td>
                                <td class="width-10-percent">
                                    &nbsp;
                                </td>
                            </tr>
                            <!-- ngFor on below <tr> -->
                            <tr *ngFor="let step of newForm.steps; let i = index;">
                                <td class="text-size-50 text-light text-center padding-top" [attr.data-test]="'AddSteps_StepNumber_' + i">
                                    {{i + 1}}
                                </td>
                                <td>
                                    <snap-input-wrapper [control]="f.controls[('stepName' + i)]" [showError]="submitted">
                                        <input type="text" name="{{'stepName' + i}}" [attr.name]="'stepName' + i" title="Step Name" [(ngModel)]="step.name" [attr.data-test]="'AddSteps_StepName_' + i" required>
                                    </snap-input-wrapper>
                                </td>
                                <td>
                                    <snap-input-wrapper [control]="f.controls[('stepValue' + i)]" [showError]="submitted">
                                        <input type="number" name="{{'stepValue' + i}}" [attr.name]="'stepValue' + i" title="Step Value" [(ngModel)]="step.value" [attr.data-test]="'AddSteps_StepValue_' + i" required>
                                    </snap-input-wrapper>
                                </td>
                                <td class="padding-top">
                                    <a href="javascript:;" class="margin-right-half margin-left-half" (click)="callDeleteStepLightbox(i)" [attr.data-test]="'AddSteps_DeleteStep_' + i">
                                        <span class="fa fa-trash-o"></span>
                                    </a>
                                    <a href="javascript:;" (click)="addStep()" *ngIf="(i === (newForm.steps?.length - 1))" data-test="AddSteps_AddStep">
                                        <span class="fa fa-plus"></span>
                                    </a>
                                </td>
                            </tr>
                            <tr *ngIf="!newForm.steps || !newForm.steps.length">
                                <td></td>
                                <td><a href="javascript:;" (click)="addFirstStep()">Add a step</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li class="height-auto">
                        <h4 class="margin-top margin-bottom">Buttons</h4>

                        <table class="base-table min-cell-padding"  data-test="AddForm_ButtonsTable">
                            <tbody>
                            <tr>
                                <td class="width-20-percent">
                                    <label>Type</label>
                                </td>
                                <td>
                                    <label>Value</label>
                                </td>
                                <td class="width-40-percent">
                                    <label>Function</label>
                                </td>
                                <td class="width-10-percent">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr *ngFor="let button of newForm?.formButtons; let i = index;" [attr.data-test]="'AddForm_Button_' + i">
                                <td>
                                    <select [(ngModel)]="button.type" [name]="'button' +  i + 'type'">
                                        <option *ngFor="let buttonType of getTypes(button.type);" [value]="buttonType" [attr.data-test]="'AddForm_ButtonType_' + i">{{buttonType}}</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" [(ngModel)]="button.value" [name]="'button' +  i + 'val'" [attr.data-test]="'AddForm_ButtonValue_' + i">
                                </td>
                                <td>
                                    <input type="text" [(ngModel)]="button.callbackFunc" [name]="'button' +  i + 'callback'" [attr.data-test]="'AddForm_CallbackFunction_' + i">
                                </td>
                                <td class="padding-top">
                                    <a href="javascript:;" class="margin-right-half margin-left-half" (click)="callDeleteButtonLightbox(i)" *ngIf="i !== 0" [attr.data-test]="'AddForm_DeleteButton_' + i">
                                        <span class="fa fa-trash-o"></span>
                                    </a>
                                    <a href="javascript:;" (click)="addButton()" *ngIf="(getTypes().length && (i === (newForm?.formButtons?.length - 1)))" data-test="AddForm_AddButton">
                                        <span class="fa fa-plus"></span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
            </ul>
            <div class="button-row">
                <button type="submit" class="primary-button" (click)="saveForm(f)" data-test="AddForm_SaveForm">Save Form</button>
                <button type="button" class="cancel-button" (click)="cancel()" data-test="AddForm_Cancel"><span class="icon"></span>Cancel</button>
            </div>
        </div>
        </form>
    </div>
</div>
